
.medform-container {
    position: relative;
    width: 40%;
    background: white;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    padding: 20px;
    margin: 0 auto;
    margin-top: 10px;
    overflow-y: auto;
    max-height: 450px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    color: #000;
    cursor: pointer;
}

.medform {
    display: flex;
    flex-direction: column;
}

.medform input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.medform label {
    display: inline-block;
    width: 20%;
    margin-right: 10px;
    color: #4d0b5c;
}

.medform button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #4d0b5c;
    color: #fff;
    cursor: pointer;
}

.form-header {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
    color: #4d0b5c;
}
